<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
</head>
<body>
<blockquote class="layui-elem-quote quoteBox">
<form class="layui-form" onsubmit="return false">
<div class="layui-inline">
    <input type="number" class="layui-input" name="card_no" id="card_no" autocomplete="off" placeholder="请输入卡号">
</div>
    <div class="layui-inline">
        <select name="quiz" id="trans_status">
          <option value="">请选择</option>
        <option value="T">包含手续费</option>
        <option value="F">不含手续费</option>
        </select>
    </div>
<button class="layui-btn" lay-submit="" lay-filter="trans_sear" type="submit">搜索</button>
<button type="reset" class="layui-btn layui-btn-primary" id="">重置</button>
    </form>
</blockquote>
<table class="layui-hide" id="trans_log" lay-filter=""></table>
<script>
    layui.use(['table','laydate','form','jquery'], function () {
        var table=layui.table,
            date=layui.laydate,
            form=layui.form,
            $=layui.jquery;

        date.render({
            elem: '#test10'
            ,range: true
          });

        //执行一个 table 实例
        table.render({
            elem: '#trans_log'
            , height: 'full-90'
            , cellMinWidth: '80'
            , url: '/admin/push_log_settle/' //数据接口
            , title: '卡交易记录信息'
            , toolbar: true
            , skin: 'line'
            , limit:100
            , limits:[100,200,300,400,500,600,700,800,900,1000]
            {#, toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档#}
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'card_number', title: '卡号',width:'10%', align: 'center'}
                , {field: 'billing_amount', title: '冻结金额',align: 'center', style: "color: #CD0000", sort: true}
                , {field: 'billing_currency', title: '冻结币种', align: 'center', style: 'color: #436EEE'}
                , {field: 'authorization_date', title: '授权时间',width:'12%', align: 'center', style:"color: #8B0A50"}
                , {field: 'merchant_amount', title: '交易金额', align: 'center',style: "color: #CD0000", sort: true}
                , {field: 'merchant_currency', title: '交易币种',align: 'center', style: 'color: #436EEE'}
                , {field: 'merchant_name', title: '商户名称', align: 'center',width:'20%',style:"color: #030303"}
                , {field: 'settlement_date', title: '结算时间',width:'12%', align: 'center', style:"color: #8B0A50"}
                , {field: 'handing_fee', title: '手续费', align: 'center',style:"color: #EE5C42", sort: true}
                , {field: 'name', title: '用户', align: 'center',style:"color: #030303"}
            ]]
            , id: 'push_log'
            , page: true
        });

        form.on('submit(trans_sear)', function(data){
             var card_no = $("#card_no").val(),
                 trans_status = $("#trans_status").val();
             table.reload("push_log", {
                 page: {
                   curr: 1 //重新从第 1 页开始
                 },where: {
                     card_no:card_no,
                     trans_status: trans_status
                   }
               }, '/user/push_log/');
            return false;
         });

        document.onkeydown=keyDownSearch;

            function keyDownSearch(e) {
                // 兼容FF和IE和Opera
                var theEvent = e || window.event;
                var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
                if (code == 13) {
                    var card_no = $("#card_no").val(),
                         trans_status = $("#trans_status").val();
                     table.reload("push_log", {
                         page: {
                           curr: 1 //重新从第 1 页开始
                         },where: {
                             card_no:card_no,
                             trans_status: trans_status
                           }
                       }, '/user/push_log/');
                    return false;
                }
                return true;
            }

    })
</script>
</body>
</html>