<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
</head>
<blockquote class="layui-elem-quote quoteBox">
<form class="layui-form" onsubmit="return false">
<div class="layui-inline">
    <input type="number" class="layui-input" name="trans_card" id="card_no" autocomplete="off" placeholder="请输入卡号">
</div>
<div class="layui-inline">
    <input type="text" class="layui-input" name="trans_type" id="card_label" autocomplete="off" placeholder="卡标签">
</div>
<button class="layui-btn" lay-submit="" lay-filter="card_sear" type="submit">搜索</button>
<button type="reset" class="layui-btn layui-btn-primary" id="">重置</button>
    <div class="layui-inline">
         <input type="radio" name="card_status" value="show" lay-filter="card_status" title="显示全部卡">
         <input type="radio" name="card_status" value="hide" lay-filter="card_status" title="不显示注销卡" checked >
     </div>
</form>
</blockquote>
<table class="layui-table" id="card_info" lay-filter="card_info"></table>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
      <button class="layui-btn layui-btn-radius" style="background-color:#7D9EC0" lay-event="getCheckData" id="some_top"><i class="layui-icon">&#xe656;批量充值</i></button>
      <button class="layui-btn layui-btn-radius" style="background-color:#FF6347" lay-event="getCheckLength" id="clear"><i class="layui-icon">&#xe640;清空选中卡</i></button>
  </div>
</script>

<script type="text/html" id="barDemo">
{#    <a class="layui-btn layui-btn-primary layui-btn-xs layui-btn-normal" lay-event="remain"><i class="layui-icon">&#xe659;余额</i></a>#}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe642;编辑</i></a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" id="top_btn"><i class="layui-icon">&#xe659;充值</i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="refund" id="refund_btn"><i class="layui-icon">&#xe606;退款</i></a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="lock" id="do_lock"><i class="layui-icon">&#x1007;注销</i></a>
</script>
<script type="text/html" id="copy">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="copy" title="复制卡号"><i class="layui-icon">&#xe655;</i></a>
</script>
<body>
<script>
    layui.use(['table','laydate','form','jquery','layer'], function () {
        var table=layui.table,
            date=layui.laydate,
            form=layui.form,
            layer = layui.layer,
            $=layui.jquery;

        var card_status= $('input[name="card_status"]:checked').val();


        var tableChecked = {};

        //执行一个 table 实例
        table.render({
            elem: '#card_info'
            , height: 'full-90'
            , cellMinWidth: '80'
            , url: '/user/card_info/?card_status='+card_status //数据接口
            , title: '卡列表'
            , skin: 'line'
            , even: true
            , parseData: function(res){ //res 即为原始返回的数据
                if (res.count > 0) { //判断状态和是否有数据
                  for (var i = 0; i < res.data.length; i++) { //遍历该页数据
                    if (tableChecked[res.data[i].card_number]) { //如果之前有选中该数据
                      res.data[i].LAY_CHECKED = true  //默认选中
                    }
                  }
                }
                return {
                  "code": res.code, //解析接口状态
                  "msg": res.msg, //解析提示文本
                  "count": res.count, //解析数据长度
                  "data": res.data //解析数据列表
                };
              }
            , limit: 20
            , limits: [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]
            , loading: true
            , toolbar: "#toolbarDemo" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type: 'checkbox'}
                , {type: 'numbers'}
                , {field: 'card_number', title: '卡号', align: 'center', style: "mso-number-format:'\@';",}
                , {field: '', toolbar:"#copy", width:50}
                , {field: 'expire', title: '有效期', align: 'center', }
                , {field: 'cvc', title: '安全码', align: 'center', }
                , {field: 'label', title: '标签', align: 'center',}
                , {field: 'valid_start_on', title: '有效时间', align: 'center',}
                , {field: 'valid_end_on', title: '失效时间', align: 'center',}
                , {field: 'status', title: '卡状态', align: 'center',}
                , {field: 'detail', title: '详情', align: 'center',style:'color:red'}
                , {fixed: 'right', width: 390, align: 'center', toolbar: '#barDemo', id: 'tools'}
            ]]
            , id: 'card_info'
            , page: true
            , done: function (res, curr, count) {
                $("th[data-field=" + 0 + '] input[type="checkbox"]').prop('disabled', true);
                table.render();
                for (var i = 0; i < res.data.length; i++) {
                    if (res.data[i].status == '注销') {
                        $('table tbody tr').eq(i).css('color', '#CD2626');
                        $('table tbody tr td[data-field="8"] a[id="top_btn"]').eq(i).css('display', 'none');
                        $('table tbody tr td[data-field="8"] a[id="refund_btn"]').eq(i).css('display', 'none');
                        $('table tbody tr td[data-field="8"] a[id="do_lock"]').eq(i).css('display', 'none');
                    }
                }
            }
        });

        table.on('checkbox(card_info)', function(obj){
          if (obj.checked) {
              var arr = Object.keys(tableChecked);
              if (arr.length > 9 ){
                  layer.msg('超出可选择数量')
              }
               tableChecked[obj.data.card_number] = obj.data;
          } else {
            delete tableChecked[obj.data.card_number]
          }
        });

        table.on('toolbar(card_info)', function(obj){
        switch(obj.event){
          case 'getCheckData':
              var arr = Object.keys(tableChecked);
            if (arr.length === 0){
                layer.msg('请勾选需要充值的卡！')
            }else if(arr.length > 10){
                layer.msg('请选择10张及其一下的卡量,请取消部分卡！')
            }else{
                var s = "";
                for (var key in tableChecked){
                    var card_number = key,
                        label = tableChecked[key]['label'];
                    if (label==null){
                        label = '暂无'
                    }
                    s += card_number + "(" + label + ")" + ", "
                }
                layer.confirm("确认为以下卡号充值 [ 卡号(标签) ],卡量越大充值时间越长，请耐心等待: " + s,{btn:['确认','取消']},
                    function () {
                    layer.prompt({title:'请输入充值金额！(不为小数)'},function(val, index){
                      if (isNaN(val)){
                        layer.msg('请输入数字!')
                    }else{
                        $.ajax({
                            type : 'POST',
                            url : '/user/batch/',
                            data : {money:val,
                                    card_info:JSON.stringify(tableChecked)
                            },
                            dataType : 'json',
                            beforeSend:function () {
                                 top.layer.load(0, {shade: [0.8, '#393D49'],})
                            },
                            success : function(data) {
                                // 成功提示框
                                if (data.code == 0){
                                    top.layer.closeAll();
                                    parent.layer.msg(data.msg, {
                                    icon : 6, time:4000
                                });
                                {#setTimeout(window.location.reload(), 2000)#}

                                }else if(data.code == 502){
                                    top.layer.closeAll();
                                    parent.layer.msg(data.msg, {
                                    icon : 5, time:4000
                                });
                                }

                            }
                        });
                        return false
                    }
                      layer.closeAll();
                    });
                },function () {
                    tableChecked = {};
                    layer.msg('已清空选中卡！');
                    location.reload()
                });
            }
          break;
          case 'getCheckLength':
            tableChecked = {};
            layer.msg('已清空选中卡！');
          break;

          //自定义头工具栏右侧图标 - 提示
          case 'LAYTABLE_TIPS':
            layer.alert('这是工具栏右侧自定义的一个图标按钮');
          break;
        };
      });

        $("#some_top").mouseover(function () {
            layer.tips('充值前,请确保账户余额充足！(请选择10张及其以下的卡量！)', this, {tips:[1, "#3595CC"], time: 3000});
        });

        $("#clear").mouseover(function () {
            layer.tips('清空要充值所勾选的卡。(刷新界面也可以达到清空效果！)', this, {tips:[1, "#8E8E8E"], time: 3000});
        });

        form.on('radio(card_status)', function (data) {
    　　　　if (data.value == 'show'){
                table.reload("card_info", {
                    url:'/user/card_info/?card_status=show',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                return false;
            } else if (data.value == 'hide'){
                table.reload("card_info", {
                    url:'/user/card_info/?card_status=hide',
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                return false;
            }
　　　  });


        table.on('tool(card_info)', function (obj) { //注：tool 是工具条事件名，test_all 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent === 'refund') {
                layer.prompt({title: '请输入退款金额(卡余额必须保留0.01$,或删卡退款！)', value:data.remain}, function(num, index){

                    if (isNaN(num)){
                        layer.msg('请输入数字!')
                    }else{
                        $.ajax({
                            type : 'POST',
                            url : '/user/refund/',
                            data : {data:num,
                                    card_number:data.card_number
                            },
                            dataType : 'json',
                            beforeSend:function () {
                                 top.layer.load(0, {shade: [0.8, '#393D49'],})
                            },
                            success : function(data) {
                                // 成功提示框
                                if (data.code == 0){
                                    top.layer.closeAll();
                                    parent.layer.msg(data.msg, {
                                    icon : 6,
                                });
                                {#setTimeout(window.location.reload(), 2000)#}

                                }else if(data.code == 502){
                                    top.layer.closeAll();
                                    parent.layer.msg(data.msg, {
                                    icon : 5
                                });
                                }

                            }
                        });
                    }
                    layer.close(index);

                });

            } else if (layEvent === 'lock') {
                layer.confirm('确定注销卡号为:'+data.card_number+'的卡吗?注销后卡余额回退到账户余额。', {title:'注销卡信息提示!!!'}, function (index) {
                    layer.close(index);
                    //向服务端发送删除指令
                    $.ajax({
                        type : 'DELETE',
                        url : '/user/card_delete/' + '?card_number=' + data.card_number,
                        dataType : 'json',
                        beforeSend:function () {
                            top.layer.load(0, {shade: [0.8, '#393D49'],})
                        },
                        success : function(data) {
                            // 成功提示框
                            if (data.code == 0){
                                top.layer.closeAll();
                                parent.layer.msg(data.msg, {
                                icon : 6,
                            });
                            }else if(data.code == 502){
                                top.layer.closeAll();
                                parent.layer.msg(data.msg, {
                                icon : 5
                            });
                            }

                        },
                        error : function(data) {
                            // 异常提示
                            top.layer.closeAll();
                            parent.layer.msg('出现网络故障', {
                                icon : 5
                            });
                        }
                            });
                    return false
                });
            }else if (layEvent === 'detail'){
                layui.layer.open({
                    title: '编辑卡号为 [ ' + data.card_number + ' ] 的相关信息',
                    type: 2,
                    anim: 1,
                    skin:'layui-layer-lan',
                    area: ['400px', '340px'],//宽高
                    shadeClose: true, //点击遮罩关闭
                    content: '/user/card_label/?card_number='+data.card_number,
                    success: function(layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.contents().find("#card_num").html(data.card_number);
                        body.contents().find("#card_label").val(data.label);
                    }
                });
                return false
            } else if (layEvent === 'edit') {
                layer.open({
                    title: '充值卡号为 [ ' + data.card_number + ' ]',
                    type: 2,
                    anim: 3,
                    skin:'layui-layer-molv',
                    area: ['400px', '280px'],//宽高
                    shadeClose: true, //点击遮罩关闭
                    content: '/user/card_top/?card_number='+data.card_number,
                    success: function(layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.contents().find("#card_num").html(data.card_number);
                        body.contents().find("#card_name").val(data.card_name);
                        body.contents().find("#balance").html(data.balance);
                        body.contents().find("#label").val(data.label);
                        body.contents().find("#card_no").val(data.card_no);
                    }
                });
                return false
            }else if (layEvent === 'copy'){
                copyText(data.card_number.trim(), function () {
                    layer.msg('复制卡号成功！')
                })
            }
        });

        table.on('rowDouble(card_info)', function(obj){
          var  data = obj.data;
          layer.open({
                type: 2
                ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                ,skin:'layui-layer-demo'
                ,id: 'layerUser'//防止重复弹出
                ,title: '卡号为 ' + data.card_number + ' 的详细信息'
                ,area: ['80%','90%']
                ,anim: 2
                ,shadeClose:true
                ,content: '/user/one_card_detail?card_number=' + data.card_number
                ,btn: '关闭全部'
                ,btnAlign: 'c' //按钮居中a
                ,shade:  [0.8, '#393D49'] //弹框背景选项
                ,success: function(layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.contents().find("#card_num").html(data.card_no);
                    }

              });
        });

        function copyText(text, callback){ // text: 要复制的内容， callback: 回调
            var tag = document.createElement('input');
            tag.setAttribute('id', 'cp_hgz_input');
            tag.value = text;
            document.getElementsByTagName('body')[0].appendChild(tag);
            document.getElementById('cp_hgz_input').select();
            document.execCommand('copy');
            document.getElementById('cp_hgz_input').remove();
            if(callback) {callback(text)}
        }

        form.on('submit(card_sear)', function(data){
             var card_no = $("#card_no").val(),
                 card_label = $('#card_label').val();
             table.reload("card_info", {
                 page: {
                   curr: 1 //重新从第 1 页开始
                 },where: {
                     card_num:card_no,
                     label: card_label,
                   }
               }, '/user/card_info/');
            return false;
         });
    })
</script>
</body>
</html>